body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
th,
td {
  font-size: 24px;
  text-align: center;
}
.container {
  font-size: 32px;
  padding-left: 0%;
}
.flow-text {
  text-align: center;
}
.responsive-table {
  margin: 20px;
}
.macro {
  font-size: 24px;
  padding: 0 7%;
  margin: 0 10%;
  display: inline;
}
.btn-floating {
  margin: 0 18.7%;
}
.grams {
  font-size: 36px;
  color: black;
  padding: 0 17%;
}
.target-calories {
  font-size: 36px;
  color: white;
}
