body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
tr {
  text-align: center;
}
.container {
  font-size: 32px;
  padding: 0px;
  margin-left: 20px;
}
.flow-text {
  margin: 20px;
}
.responsive-table {
  margin: 20px;
}
.macro {
  font-size: 24px;
  margin: 0 10%;
  display: inline;
}

.grams {
  font-size: 36px;
  color: black;
  padding: 0 17%;
}
.target-calories {
  font-size: 36px;
  color: white;
}
